.main-container {
  color: #1f3349;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.main {
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 12px;
  margin-bottom: 24px;
  padding: 12px;
  box-shadow: 0 0 10px 2px rgba(31, 51, 73, 0.10);
  border-radius: 4px;
  z-index: 1;
  max-width: 180px;
}

.txt-s {
  font-size: 12px;
  line-height: 18px;
}

.key {
   margin-right: 6px;
   border-radius: 9999px;
   width: 12px;
   height: 12px;
   display: inline-block;
   vertical-align: middle;
}

.mb6 {
  margin-bottom: 6px;
}

.txt-bold {
  font-weight: bold;
}

.color-gray {
  color: #607d9c;
}

.block {
  display: block;
}
